* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    /* Only uses as much space as needed */
    display: inline-block;
    font-size: 48px;
}

/* changes color of the letters seo in Horiseon */
.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* List style none means no bullet point format for the list */
.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

.footer {
    padding: 30px;
    /* added width to limit footer from covering benefits area */
    width: 75%;
    clear: both;
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    /* hides the text that isn't listed in final product image */
    display: none;
}

.footer h2 {
    font-size: 20px;
}

/* Float left and right are used to position the images in content section correctly in relation to their text headers and description*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Used to set the large background image of 4 people working aroung a table */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* used for creating the space for the img and text list on bottom left of page*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* used for creating the space for the img and text list on bottom right of page*/
.benefits {
    margin-right: 20px;
    /* added margin bottom to create some space between bottom of web page and benefits section*/
    margin-bottom: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* one of 3 related sections in contents */
#search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#search-engine-optimization img {
    max-height: 200px;
}

/* one of 3 related sections in contents */
#online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#online-reputation-management img {
    max-height: 200px;
}

/* one of 3 related sections in contents */
#social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#social-media-marketing img {
    max-height: 200px;
}